# Python compilado
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Entornos virtuales
venv/
env/

# Logs — MUY IMPORTANTE, esto es lo que te daba problemas
*.log
django.log

# Archivos estáticos generados
staticfiles/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/